/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, .video-container {
    background-color: linen;
}

/* Свойства стиля элемента. Подробнее о них в модуле по CSS */
.video-container {
    display: inline-block;
    padding-left: 1%;
    padding-top: 1%;
}

.review-container, .review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text {
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}
    /* Стили панели навигации при наведении мышью */
    .navbar p:hover {
        color: aliceblue;
    }

/*Глобальные стили для хедеров на всём сайте*/
header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/*Стиль хедера для главной страницы имеет приоритет, так как используется селектор по идентификатору*/
#header-index {
    color: #44453f;
}
/*Стиль строки поиска*/
.search-bar {
    border: solid black;
    border-radius: 4px;
    outline: none
}
    /*Стиль строки поиска при вводе*/
    .search-bar:focus {
        border: solid #30d5c8
    }

footer {
    position: relative;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
}

aside {
    height: 100%; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    z-index: 1; /* Сайд-бар будет поверх остальных элементов */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body {
    padding-left: 11%;
}

/* --- Слайдер --- */

.slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 850px;
    margin: 10px;
    background-color: white;
    overflow: hidden;
}

.slides {
    width: 100%;
    padding-top: 50%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    transition: 1s;
    opacity: 0;
}

    .slide.active {
        opacity: 1;
    }

    .slide img {
        height: 100%;
        width: 100%;
    }

.navigation-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#button-prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#button-next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

    #button-prev::after,
    #button-next::after {
        content: "";
        position: absolute;
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        width: 40%;
        height: 40%;
    }

#button-prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}

#button-next::after {
    top: 50%;
    right: 50%;
    transform: translate(25%, -50%) rotate(-45deg);
}
