<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>

    <!--Подключение стилей по относительному пути из внешнего файла-->
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">

    <!-- Внешний скрипт с функциями -->
    <script src="../Static/JS/index.js"></script>

    <!-- Внутренний скрипт с вызовами функций -->
    <script>
        //let session = handleSession();
        //sessionLog(session);

        // Проверка на возраст
        // checkAge();

        // сохранение сессии
        handleSession()

        // вывод данных сессии в консоль
        sessionLog();

        const inputParseFunc = function () {
            return document.getElementsByTagName('input')[0].value;
        }

        // Всплывающее окно будет показано по таймауту
        setTimeout(() => alert("Нравится LifeSpot? " + '\n' + "Подпишитесь на наш Instagram @lifespot999!"), 30000);
    </script>
</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <!--Строка поиска-->
        <input class="search-bar" type="text" oninput="filterContent()" size=50 />
    </header>
    <!--Сайд-бар страницы-->
    <!--SIDEBAR-->
    <div>
        <!--Нью-Йорк-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/srlpC5tmhYs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Нью-Йорк, Брайант Парк</h3>
        </div>
        <!--Санкт-Петербург-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wCcMcaiRbhM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, Невский Проспект</h3>
        </div>
        <!--Лондон-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Лондон, автобусный маршрут</h3>
        </div>
    </div>
    <!--FOOTER-->
</body>
</html>